$blues-dark-blue: (
    50 : #e0e7eb,
    100 : #b3c2cd,
    200 : #8099ac,
    300 : #4d708b,
    400 : #265272,
    500 : #003359,
    600 : #002e51,
    700 : #002748,
    800 : #00203e,
    900 : #00142e,
    A100 : #6798ff,
    A200 : #3475ff,
    A400 : #0153ff,
    A700 : #004ae6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);