$blues-primary-blue: (
    50 : #e0f3f9,
    100 : #b3e0f0,
    200 : #80cce6,
    300 : #4db8db,
    400 : #26a8d4,
    500 : #0099cc, // main primary blue
    600 : #0091c7,
    700 : #0086c0,
    800 : #007cb9,
    900 : #006bad,
    A100 : #d7edff,
    A200 : #a4d7ff,
    A400 : #71c0ff,
    A700 : #58b5ff,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: white,
    )
);
