@import './blues-primary-palette';
@import './blues-ultralight-palette';
@import './blues-darkblue-palette.scss';

$blues-primary: mat-palette($blues-primary-blue);
$blues-accent: mat-palette($blues-dark-blue, 500, 100, 700);// mat-palette($blues-ultra-light, 500, 100, 700);
$blues-warn: mat-palette($mat-red);

$blues-app-theme: mat-light-theme($blues-primary, $blues-accent, $blues-warn);
@include angular-material-theme($blues-app-theme);

// type configurations
$type-config: mat-typography-config();
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 500;

$body-font-size: 1rem;
$body-ex-sm-font-size: .7rem;
$body-sm-font-size: .8rem;
$body-letter-spacing: .03rem;

$nav-height: 62px;
$nav-title-padding: 10px;
$nav-link-font-size: .917em;

$mat-icon-size: 24px; // material default 24px
$mat-icon-font-size: 18px; // material default 18px

$blues-colors: (
    white: #ffffff, //white
    lightBlue: #e5eef1, 
    mediumBlue: #bed6db, 
    mdBlue: #d1e2e7, //row hover
    primaryBlue: #0099cc, 
    darkBlue: #003359, 
    darkestBlue: #002947, 
    darkGrey: #454545,
    mediumGrey: #7e7e7e,
    lightGrey: #cccccc,
    extraLightGrey: #eeeeee
);

$nav: (
    navLightGrey: #e5eaee,
    navDarkGrey: #c9cdd1
);

$error: (
    ltPink: #dcaeae,
    dkPink: #bc9696,
    warn: #f44336,
    dkRed: #aa272f
);

$success: (
    ltGreen: #8fc68b,
    dkGreen: #88a585
);

// headers, paragraph, etc
h1, h2 {
    color: map-get($blues-colors, darkBlue);
    font-weight: $font-weight-regular;
    font-family: mat-font-family($type-config);
    margin: 0 0 8px;
}

h3 {
    color: map-get($blues-colors, darkBlue);
    font-weight: $font-weight-bold; 
    font-family: mat-font-family($type-config);
    margin: 10px 0 10px 0;
    font-size: .8rem;
}

h4 {
    color: map-get($blues-colors, primaryBlue);
    font-family: mat-font-family($type-config);
    font-weight: $font-weight-bold;
    font-size: $body-sm-font-size;
}

p {
    color: map-get($blues-colors, darkGrey);
    font-family: mat-font-family($type-config);
    font-size: $body-sm-font-size;
}

a {
    color: map-get($blues-colors, primaryBlue);
    font-family: mat-font-family($type-config);
    text-decoration: none;
    text-decoration-line: none;
    font-weight: $font-weight-bold;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.bold {
    font-weight: $font-weight-bold;
}

.justify-end,
.mat-grid-tile.justify-end .mat-figure {
    justify-content: flex-end;
}

.justify-start,
.mat-grid-tile.justify-start .mat-figure {
    justify-content: flex-start;
}

.back-link {
    cursor: pointer;
    color: map-get($blues-colors, primaryBlue);

    .mat-icon {
        vertical-align: bottom;
        height: 18px;
        width: 18px;
        padding-right: 5px;
    }

    h4 {
        margin: 0px;
        display: inline-block;
    }

    h4:hover {
        text-decoration: underline;
    }
}

.material-icons {
    font-size: 18px;
}

// padding, margin, widths, etc
.padding {
    padding: 20px;
}

.padding-top {
    padding-top: 15px;
}

.padding-right {
    padding-right: 15px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom {
    padding-bottom: 15px;
}

.padding-left {
    padding-left: 15px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.margin-right, .dialog-buttons .margin-right {
    margin-right: 15px;
}

.margin-left, .dialog-buttons .margin-left {
    margin-left: 15px;
}

.full-width {
    width: 100%;
}

.fill-height {
    height: -webkit-fill-available;
}

.height-600 {
    height: 600px;
}

// menu
.menu-container {
    width: 65px;
    
    .mat-icon-button { 
        height: $nav-height;
        width: 65px; 
        background-color: transparent;

        .mat-button-wrapper {
            height: 50px;
            width: 50px;
        }

        .mat-icon.close {
            font-size: 35px;
            height: 25px;
            width: 35px;
            color: map-get($blues-colors, white);
        }

        .mat-icon.open {
            font-size: 35px;
            height: 25px;
            width: 35px;
            color: map-get($blues-colors, primaryBlue);
        }

        p {
            font-size: $body-ex-sm-font-size;
        }

        p.close {
            margin: 0px;
            color: white;
            font-weight: $font-weight-light;
            line-height: 10px;
        }

        p.open {
            margin: 0px;
            color: map-get($blues-colors, primaryBlue);
            font-weight: $font-weight-regular;
            line-height: 10px;
        }
    }
}

.menu-container.close {
    background-color: #012743;
}

.menu-container.open {
    background-color: map-get($blues-colors, extraLightGrey);
}

.menu-container {
    float: left;
}

// header
.header {
    display: flex;
}

.header-container {
    flex-grow: 1;
    background-color: map-get($blues-colors, darkBlue);
    height: $nav-height;

    .header-app-name {
        display: inline-block;

        h1 {
            color: white;
            font-size: 1.2em;
        }

        h3 {
            color: white;
            font-weight: $font-weight-regular;
            margin: 5px 0 5px 0;
        }
    }
    
    .header-divider {
        display: inline-block;
        height: 36px;
        border-right-color: rgba(255, 255, 255, 0.5);
        margin-left: $nav-title-padding * 2;
        margin-right: $nav-title-padding * 2;
    }
}

.header-logo-img {
    display: inline-block;
    height: 34px;
    text-indent: -9999px;
    width: 166px;
    padding-left: $nav-title-padding;
    padding-top: $nav-title-padding + 5px;
}

.header-right {
    background-color: map-get($blues-colors, darkBlue);
    padding-right: $nav-title-padding;
    float: right;

    a, p {
        color: white;
        display: inline-block;
        font-weight: normal;
    }
}
.mat-drawer.custom-drawer {
    border-right: none;
    background-color: transparent;
    min-width: 225px;
}

.mat-drawer:not(.mat-drawer-side) {
    box-shadow: none;
}

.mat-drawer-inner-container {
    overflow: hidden!important;
}

.mat-sidenav-container .mat-drawer-backdrop {
    margin-left: 65px; // hacky
}


.mat-nav-list {
    color: map-get($blues-colors, darkBlue);
    
    a {
        color: map-get($blues-colors, darkBlue);
        font-weight: 400;
        font-size: $nav-link-font-size;
    }

    a.active {
        font-weight: 500;
        color: map-get($blues-colors, primaryBlue);
    }
}


.mat-nav-list {
    .nav-links {
        padding: 15px 12px 15px 12px;
        border-bottom: 1px solid map-get($blues-colors, lightGrey);
        background-color: white;
        transition: 0.3s;
        font-size: 16px;
    }
    
    .nav-links:hover {
        background-color: map-get($blues-colors, extraLightGrey);
    }

    .mat-expansion-panel-body {
        padding: 0px;
    }

    .mat-accordion .mat-expansion-panel:last-of-type, .mat-accordion .mat-expansion-panel:first-of-type {
        border-radius: 0px;
    }

    .mat-expansion-panel:not([class*='mat-elevation-z']) {
        box-shadow: none;
    }

    .mat-expansion-panel {
        background-color: map-get($nav, navLightGrey);
    }

    .mat-expansion-panel.border-bottom {
        border-bottom: 1px solid map-get($nav, navDarkGrey);
    }

    .mat-expansion-panel-header {
        padding: 0 12px;
    }

    .mat-expansion-panel-header.mat-expanded {
        border-bottom: 1px solid map-get($blues-colors, lightGrey);
    }

    .mat-expansion-panel-header.mat-expanded .mat-expansion-panel-header-title {
        font-weight: $font-weight-bold;
    }
    .mat-expansion-panel-header-title {
        font-size: $nav-link-font-size + .065em;
        color: map-get($blues-colors, darkBlue);
    }
}


.menu-container.in-menu {
    float: none;
    height: $nav-height;
    width: 100%;

    .mat-icon-button { 
        background-color: map-get($nav, navLightGrey);
        border-radius: 0%;
    }
}

.nav-links-container {
    background-color: map-get($nav, navLightGrey);
    height: 100vh; 

    .mat-list-item.has-flex .mat-list-item-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        padding: 0 12px;
        position: relative;
        height: inherit;
    }
    
    .mat-list-base .mat-list-item.has-block .mat-list-item-content {
        display: block;
        padding: 0px 12px;
        // flex-direction: row;
    }
    
    .mat-list-item {
        border-bottom: 1px solid #cccccc;
        color: map-get($blues-colors, darkBlue);

        a {
            font-weight: 400;
        }
    }
}

// form classes
.custom-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.mat-form-field-infix {
    color: map-get($blues-colors, primaryBlue);
    font-weight: $font-weight-bold;
    font-size: $body-sm-font-size;
    line-height: 16px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: map-get($blues-colors, primaryBlue);
}

// button
button.mat-flat-button, button.mat-raised-button {
    border-radius: 0;
    font-size: $body-sm-font-size;
    line-height: 32px;
}

// error message
.error {
    text-align: center;
    font-weight: $font-weight-bold;
    width: 70%;
    margin: 0 auto;

    p {
        background-color: map-get($error, ltPink);
        border: 1px solid map-get($error, dkPink);
        padding: 15px;
        margin: 0 0 16px 0;
    }

    .mat-icon {
        float: right;
        cursor: pointer;
    }
}

// success message
.success {
    text-align: center;
    font-weight: $font-weight-bold;
    width: 70%;
    margin: 0 auto;

    p {
        background-color: map-get($success, ltGreen);
        border: 1px solid map-get($success, dkGreen);
        padding: 15px;
        margin: 0 0 16px 0;
    }

    .mat-icon {
        float: right;
        cursor: pointer;
    }
}

// login component
.login-container {
    padding: 15px 0 0 0;
    margin: auto;
    width: 500px;
}

// table
.table-container {
    overflow: auto;
}

.blues-table  {
    border: solid 1px map-get($blues-colors, mediumBlue);
    width: 100%;
    position: relative;

    td.mat-cell:first-child {
        padding-left: 5px;
        padding-right: 5px;
    }

    td.mat-cell:first-child, 
    td.mat-footer-cell:first-child,
    th.mat-header-cell:first-child {
        padding-left: 15px;
    }

    tr.mat-header-row {
        background-color: map-get($blues-colors, mediumBlue);
        height: 40px;
    } 

    .mat-header-cell {
        color: map-get($blues-colors, darkBlue);
        font-size: .8rem;
    }

    tr.mat-row.blues-row { 
        background-color: map-get($blues-colors, lightBlue);
        border-bottom-color: map-get($blues-colors, mediumBlue);
        transition: 0.3s;
    }

    tr.mat-row.blues-row:hover {
        background: map-get($blues-colors, mdBlue);
    }

    tr.mat-row.blues-row:active {
        background: #efefef;
    }

    .mat-sort-header-arrow {
        color: map-get($blues-colors, primaryBlue);
        opacity: 1;
    }
}

// table pagination items
.mat-select-value {
    color: map-get($blues-colors, primaryBlue);
    font-weight: $font-weight-bold;
}

.mat-paginator-container {
    // disabled buttons will stay grey

    // active / enabled button icons should be primary blue
    .mat-icon-button {
        color: map-get($blues-colors, primaryBlue);
    }
}

//Button 
.gray {
    background-color: map-get($blues-colors, lightGrey);
    color: map-get($blues-colors, mediumGrey);
}

button.mat-flat-button, button.mat-raised-button {
    border-radius: 0;
    font-size: $body-sm-font-size;
    line-height: 32px;
}

//icons
.material-icons {
    font-size: $mat-icon-font-size;
}

.mat-icon {
    height: $mat-icon-size;
    width: $mat-icon-size;
}

.mat-icon-button .mat-icon {
    line-height: $mat-icon-size;
}

mat-icon:hover {
    cursor: pointer;
}

%circleStyle {
    height: $mat-icon-size;
    width: $mat-icon-size;
    border-radius: 50%;
    display: inline-block;
}

.mat-icon-button.icon-button-bg-primary {
    @extend %circleStyle;
    background-color: map-get($blues-colors, primaryBlue);;
    color: white;
    line-height: 22px;
}

.mat-icon-button.icon-button-bg-accent {
    @extend %circleStyle;
    background-color: map-get($blues-colors, darkBlue);;
    color: white;
    line-height: 22px;
}

.mat-icon-button.icon-button-bg-warn {
    @extend %circleStyle;
    background-color: map-get($error, dkRed);
    color: white;
    line-height: 22px;
}

.mat-icon.icon-bg-primary {
    @extend %circleStyle;
    background-color: map-get($blues-colors, primaryBlue);;
    color: white;
    line-height: 24px;
    text-align: center;
}

.mat-icon.icon-bg-accent {
    @extend %circleStyle;
    background-color: #ccc;
    color: white;
    line-height: 24px;
    text-align: center;
}

.mat-icon.icon-bg-warn {
    @extend %circleStyle;
    background-color: map-get($blues-colors, darkBlue);;
    color: white;
    line-height: 24px;
    text-align: center;
}

// footer
.footer {
    height: 70px;
    background-color: map-get($blues-colors, darkBlue);
    margin-top: 20px;

    p {
        color: white;
        margin: 0px;
        font-size: $body-sm-font-size;
    }
}

